
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');


:root{
    --yellow:#f9ca24;
    --blue:#010326;
    --black:#000000;
    --orange:#de8531;
    --pink:#fcb1ab;
    --grey:#191919;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color:var(--orange);
    text-transform: capitalize;
    transition: all .2s linear;
    background:var(--grey);
    font-size:25px;
  
}

*::selection{
    background:var(--yellow);
    color:#333;
}



html{
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--green);
}


.Headings
{
    font-size:40px;
   font-weight:bolder;
}
